.layout-container{
    height: 100vh;
    display: flex;
}

.login-chats-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background: black;
}

.layout-chat-container {
    width: 45%;
}

.layout-PrivateChats-container{
    width: 50%;
}