.homepage-container{
    background: #090909;
    height: 100vh;
    display: flex;
   
    div {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Tahoma';
        color: white;
        height: 400px;
        width: 600px;
        background: #050505;
        border-radius: 20px;

            input {
                margin: 15px;
                border: none;
                outline: none;
                background: #121212;
                color: white;
                font-size: 20px;
            }

            button{
                padding: 13px;
                font-size: 20px;
                text-decoration: none;
                color: white;
                background: #007AFE;
                border-radius: 20px;
                cursor: pointer;
                outline: none;
                border: none;
                transition: .3s;
                margin: 20px;

                    &:hover {
                            background: #003e80 ;
                }
            }

            p{
                color: red;
            }
        
    }
}